<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Generator</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css" type="text/css">
</head>

<body>
    <!-- <nav class="navbar">
        <div>
        <a href="/"><img src="https://content.app-sources.com/s/9255624714834551/uploads/admin-files/RC_Logo_White-6345109.png" alt="" class="logo"></a>
        <a href="/">My-Sites &amp; Funnels</a>
        <a href="/">Builder</a>
        <a href="/">Store</a>
        <a href="/">Contacts</a>
        <a href="/">Appointments</a>
        <a href="/">Email &amp; Automation</a>
        <a href="/">Academy</a>
    </div>
        <a href="/" class="dashboard">Dashboard</a>
    </nav> -->
<!-- <section class="main-page"> -->

    <div class="container">
        <h1>QR Code Generator</h1>
        <hr>
        <form action="/scan" method="POST" class="form">
            <textarea name="text" id="text" cols="80" rows="6" placeholder="Enter URL or Text" required></textarea>
            <button type="submit" class="btn btn-primary">Generate QR Code</button>

        </form>

    </div>
    <!-- <div class="lower-style">
        <section>
            <h3>Other Usefull Tools</h3>
        </section>
        <section class="lower-tools">
            <a class="Other-tools" href="">Link Shortner</a>
            <a class="Other-tools" href="">Image Compressor</a>
            <a class="Other-tools" href="">Pdf generator</a>
            <a class="Other-tools" href="">Audio Trim</a>
        </section>

    </div> -->
<!-- </section> -->
</body>

</html>